
#pageshark-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 299px;
  height: 99%;
  z-index: 9998;
  background-color: #f8f9f9;
  border-left: 0px solid #ccc;
  overflow-y: auto;
  padding: 19px;
  box-sizing: border-box;
}

#pageshark-sidebar body {
  font-family: Arial, sans-serif;
  margin: 16px;
}

#pageshark-sidebar h1 {
  font-size: 20px;
  margin-bottom: 16px;
}

#pageshark-sidebar button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


#pageshark-sidebar #summarized-content {
  margin-bottom: 19px;
}

#pageshark-sidebar .question {
  margin-bottom: 0;
  margin-block-end: 0;
}

#pageshark-sidebar .answer {
  margin-top: 0;
  margin-block-start: 0;
}
